html{
	margin:0px;
	padding:0px;
	font-size:62.5%;
	}
body{
	margin:0px;
	padding:0px;
	font-family:simsun,Verdana, Geneva, sans-serif;
	line-height:200%;
	font-size:1.2em;
	color:#000000;
	background:#ffffff;
	}
font,span,p{
	font-size:1em;
	}
div,ul,li,p,table,img,dl,dd,dt,form{
	margin:0px;
	padding:0px;
	list-style:none;
	border:0px;
	}
h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
	font-size:1em;
	}
table{
	border-collapse:collapse;
	}
.r{
	float:right;
	}
.l{
	float:left;
	}
.clear{
	clear:both;
	}
a,a:link,a:visited{
	color:#cd0000;
	text-decoration:underline;
	cursor:pointer;
	}
a:hover{
	color:#ff3333;
	text-decoration:underline;
	cursor:pointer;
	}
.menuContent{
	_margin-left:-17px;
}
#content{
	margin:0px 10px;
	padding:0px;
	padding-top:50px;
	_padding-top:0px;
	position:relative;
}

/*验证提示显示不全*/
.yztsShow{
	margin-top:34px;
}