/*tooltip*/
div.tooltip { position: absolute; }
div.tooltip table td.corner {
	width: 12px;
	height: 12px;
	font-size: 1px;
	line-height: 1px;
}
div.tooltip table td.cornerTop {
	width: 12px;
	height: 10px;
	font-size: 1px;
	line-height: 1px;
}
div.tooltip table td.cornerBottom {
	width: 12px;
	height: 10px;
	font-size: 1px;
	line-height: 1px;
}
div.tooltip table.tooltiptable { 
	margin: 0px 0px 0px 3px; 
	padding:0px 0px 0px 0px; 
	border-right:0px none;
	border-bottom:0px none;
	color:#126db4; 
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	}
div.tooltip table td.topleft,
div.tooltip table td.topcenter,
div.tooltip table td.topright,
div.tooltip table td.bodyleft,
div.tooltip table td.tooltipcontent,
div.tooltip table td.bodyright,
div.tooltip table td.footerleft,
div.tooltip table td.footercenter,
div.tooltip table td.footerright {
	background-image: url(validator/image/form_validator_tooltipbox.png);
	_background-image: url(validator/image/form_validator_tooltipbox.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding:0px 0px 0px 0px;
	line-height:12px;
	border-right:0px none;
	border-bottom:0px none;
	color:#5f5f5f;
}
div.tooltip table td.topcenter { background-position: top; }
div.tooltip table td.topright { background-position: right top; }
div.tooltip table td.bodyleft { background-position: left; }
div.tooltip table td.tooltipcontent { background-position: center; width:180px; }
div.tooltip table td.bodyright { background-position: right; }
div.tooltip table td.footerleft { background-position: left bottom; }
div.tooltip table td.footercenter { background-position: bottom; }
div.tooltip table td.footerright { background-position: right bottom; }
div.tooltip table td.tooltipcontent {
	padding: 1px 0 1px 1px;
	font-size: 12px;
	color: #757168; /*	color:#653;*/
	font-family: Tahoma, SimSun, Verdana, sans-serif;
	line-height: 12px;
	word-break: break-all;
	text-align: justify;
	text-justify: inter-ideograph;
	line-height:15px;
}

