@charset "utf-8";
/* CSS Document */
.kdparent{
	   position:absolute; 
  }
 .kdp_0, .kdp_3, .kdp_6, .kdp_9{
	  position:absolute;
	  color:#999;
	  font-family:Arial,Verdana;
	  font-size:16px;
 }
 
 .kdp_0{
	top:20px;
	left:92px;	
}

.kdp_3{
	top:95px;
	left:170px;
}

.kdp_6{
	top:162px;
	left:92px;
}

.kdp_9{
	top:95px;
	left:20px;
}